@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
*
{
  font-family: 'Inconsolata' , sans-serif;
  padding: 0;
  margin: 0;
 

}

h2
{
  font-size: 20px;
}

.fundo
{
  background: #6b1385;
  background-image: linear-gradient(100deg,black,#521395);
  font-size: 20px;
  height: 150vh;
  color: #ffffffb2;
  text-align: center;
 
}

 .noselect
 {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}